<header id="header">
    <nav class="navigation-primaire ">
        <div class="brand">
            <h1 id="title">
                <a href="{{ path('home')}}"><strong>RoadSafety.mg</strong> </a>
            </h1>

        </div>
    </nav>
    <nav class="navigation-secondaire">
        <ul class="menu">
            <li class="link-item"><a href="{{ path('home')}}">Accueil </a> </li>
            <li class="link-item"><a href="{{path('disparition')}}">Avis de disparition </a> </li>
            <li class="link-item"><a href="{{ path('declaration')}}">Faire une déposition </a> </li>
            <li class="link-item" id="mon_compte">
                <a href="">Mon compte </a>
                <div class="mon_compte_content">
                    <a href="{{path('login')}}">Connexion</a>
                    <a href="{{path('register')}}">Inscription</a>
                </div>
            </li>
            <li class="link-item"><a href="{{path('contact')}}">Nous contacter</a> </li>
        </ul>
    </nav>
</header>