{% extends 'base.html.twig' %} {% block title %}Platforme!{% endblock %} {% block body %} {% include "home/header.html.twig" %}

<div class="wrapper registration">
    {% for flash_error in app.flashes('verify_email_error') %}
    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1 class="title"> Inscription </h1>

    {{ form_start(registrationForm) }}
    <div class="form-input">
        {{ form_row(registrationForm.name) }} {{ form_row(registrationForm.firstname) }}
    </div>

    {{ form_row(registrationForm.dateNaissance) }} {{ form_row(registrationForm.lieuNaissance) }} {{ form_row(registrationForm.address) }} {{ form_row(registrationForm.contact) }} {{ form_row(registrationForm.email ,{ label: 'Adresse email:' }) }} {{ form_row(registrationForm.plainPassword,
    { label: 'Mot de Passe:' }) }}

    <div class="terms"> {{ form_row(registrationForm.agreeTerms, {label: "Termes & conditions d'admissions:"}) }}
    </div>

    <button type="submit" disabled class="btn btn-primary registration-button">Enregistrer</button> {{ form_end(registrationForm) }}

    <div style="text-align: center; margin-top:20px"><a href="{{path('login')}}"> J'ai déja un compte?</a></div>
    <div style="text-align: center; margin-top:10px"><a href="#"> Termes et conditions d'admissions</a></div>
</div>

<script>
    $(document).ready(function() {

        $('input[type=checkbox]').click(function() {
            is_checked = $(this).is(':checked');
            if (is_checked) {
                $('.registration-button').attr('disabled', false);
            } else {
                $('.registration-button').attr('disabled', true);
            }
        })
    })
</script>
{% endblock %}